<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
		<!--Header refer to current data-->
		<header>
				<span style="font-size:30px;cursor:pointer" onmouseover="openNav()">&#9776;</span>
				<!-- Render() llamar al get token y obtener el nombre de usuario, entonces mostrarlo en pantalla-->
				
								
				<!--Nav is the menu-->
				<!-- Render()llamar a cargar la grilla con authorización, esto debería disparar el login-->
				<nav id="menu"  onmouseover="openNav()"  onm="closeNav()">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a href="#">About</a>
						<a href="#">Services</a>
						<a href="#">Clients</a>
						<a href="#">Contact</a>
				</nav>
		</header>

		<!--Nav is the menu-->
		<article>
				<section>
						<!--Set partial view based on menu click-->
				</section>
		</article>

		<!--Chat menu-->
		<aside>


		</aside>

		<!--Chat menu-->
		<footer>

		</footer>

		<script>
				function openNav() {
						document.getElementById("menu").style.width = "250px";
				}

				function closeNav() {
						document.getElementById("menu").style.width = "0";
				}
		</script>

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
</body>
</html>
