@model WarehouseManagementSystem.Helper.MenuItem

@if (Model.Divider)
{
		<li role="separator" class="divider"></li>
}

@if (Model.SubItems.Count == 0)
{
		<li class="subMenuItem">
				
				<a href="@Url.Action(Model.Action, Model.Controller)">
						<span class="@Model.Icon" aria-hidden="true"></span>
						<span class="">@Model.Text</span>
				</a>
		</li>
}
else
{
		<li class="dropdown-submenu">
				<a href="#" class="subItemMenu" data-toggle="collapse"  onmouseover="itemTrigger(this)" data-target="#@Model.Text">
						<span class="glyphicon glyphicon-play leftArrowMenu" aria-hidden="true"></span>
						<span class="">@Model.Text</span>
				</a>
				<ul class="dropdown-menu subMenu nav subMenuItem" onmouseleave="itemClosetrigger(this)" id="@Model.Text">
						@foreach (var child in Model.SubItems)
						{
										@Html.Partial("MenuItem", child)
						}
				</ul>
		</li>
}
